* {
	font-family: "Roboto", sans-serif;

}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

#landing {
	height: 80vh;
	background-color: transparent;
	display: flex;
	flex-direction: column;  /**Arrange items in the box on top of each other**/
	align-items: center;     /**horizontally align items**/
	justify-content:  center; /**vertically align items**/
}

#gallery {
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-radius: 6px;

}

ul {
	list-style: none;
	padding: 0;
	
}

h2 {
	color: #cc0052;
}

.tools {
	height: 200px;
	border: 5px solid #f2f2f2;
	padding: 30px;
	margin: 20px;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

html {
	scroll-behavior: smooth;
}